{%extends 'base.html' %}

{% block head%} 

<title> Basic Principles</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Task Master</h1>
    {% if tasks| length < 1%}
    <h4> There are no tasks available. Create one below</h4>
    {% else %}

    <table>
        <tr>
            <th>Task</th>
            <th>Date Created</th>
            <th>Time Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks%}
            <tr>
                <td> {{ task.content }} </td>
                <td>{{ task.date_created.date() }} </td>
                <td>{{ task.date_created.time() }} </td>
                <td>
                    <a href="/delete/{{task.id}}"><button>Delete</button></a><br>
                    <a href="/update/{{task.id}}"><button>Update</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="content" id="content" placeholder="Enter task...">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}